body {
    background-color: #F9EDE1;
	margin: 0;
    font-family: "hwt-arabesque", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#imagem1 {
	text-align: center;
	padding: 100px;
}
#imagem1 img {
	width: 800px;
}

#navbar {
	display: flex;
	justify-content: space-between;

	padding: 15px 10px;
	background-color: #F9EDE1;
    font-family: "quatro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-links {
	display: inline;
}

#navbar a {
	color: black;
	text-decoration: none;
}

.navbar-links a {
	margin-left: 20px;
}

#navbar .name-link {
	font-weight: bold;
	font-size: 1.2em;
}


.works-top-text {
	text-align: center;
	color:#F5CAE0;
}
section .banner {
    width: 100%;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin: 0px;
	padding-top: 40px;
	padding-bottom: 0px;

}


.text {
	line-height: 1.5;
	font-size: 20px;
	color: black;
	margin: 150px;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
}

#text {
	text-indent: 30px;
	font-size: 25px;
	line-height: 1.7;
	padding-top: 35px;
	padding-left: 250px;
	text-align: justify;

}


.image-left {
	position: absolute;
	left: 0px;
	padding-left: 100px;
	padding-top: 55px;
	top: 219px;
	width: 200px;
	height:auto;
}



.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #F5CAE0;
	position:fixed;
	bottom:0;
	width:100%;
}

.footer-bottom p {
    margin: 0;
    color: #F9EDE1;
    font-size: 14px;
}
